<div class="container">
  <div style="display: flex; flex-direction: column; width: 17%">
    <div class="logo">
      <img style="transform: scale(0.2)" src="../../assets/images/logo1.png" />
    </div>
    <app-side-bar
      class="side-bar"
      (pageChange)="onPageChange($event)"
      (dimensionChange)="onDimensionChange($event)"
      (widthChange)="onWidthChange($event)"
      (heightChange)="onHeightChange($event)"
    >
    </app-side-bar>
  </div>

  <div class="nav-bar">
    <app-nav-bar>
      <img
        class="lang-img1"
        src="../../assets/icons/language.svg"
        (click)="showOverlay()"
      />
      <ng-template #overlayTemplate>
        <div *ngIf="isOpen" class="language-select">
          <div
            *ngFor="let language of languages"
            class="langauge-container"
            (click)="switchLanguage($event)"
          >
            <div>
              {{ language }}
            </div>
            <img
              class="lang-img"
              [src]="language == 'en' ? enImgPath : arImgPath"
            />
          </div>
        </div>
      </ng-template>
      <div #overlayContainer></div>
    </app-nav-bar>
    <div style="display: flex; justify-content: center">
      <div
        class="bar-container"
        (dragover)="onDragOver($event)"
        (drop)="onDropQR($event)"
        #qrContainer
      >
        <!-- <div style="width: 50px; height: 50px; background-color: #8a2626"></div> -->
        <img
          class="img"
          id="img"
          src="assets/images/barcode2.jpg"
          #img
          [ngStyle]="styleObj"
        />
      </div>
    </div>
  </div>
</div>
