<!-- {{layers?.level}} -->
<div
  (contextmenu)="isDevMode ? onContextMenu($event) : ''"
  (click)="isDevMode ? selectItem($event) : ''"
  class="l-container "
  [class.selected]="selectedId===layers?.id"
  [class.flex-col]="layers?.nodeData?.type == 'col'"
  [class.flex-row]="layers?.nodeData?.type == 'row'"
  [class.b-red]="layers?.nodeData?.type == 'col'"
  [class.b-green]="layers?.nodeData?.type == 'row'"
  [ngStyle]="initStyleConfig"
>

  <ng-container *ngFor="let contentItem of layers?.nodeData?.content">
    <app-content-wrapper [component-name]="contentItem"></app-content-wrapper>
  </ng-container>

  <ng-container *ngFor="let layer of layers?.nodeData?.children">
    <ng-container>
      <div
        [ngStyle]="{
          flex: layer?.nodeData?.propertyStyle?.flex ?? 1,
        }"
      >
        <app-layout-wrapper [isFormWrapper]="isFormWrapper" [layer]="layer" [mode]="isDevMode" [subLayoutMode]="subLayoutMode"></app-layout-wrapper>
      </div>
    </ng-container>
  </ng-container>

  <div>
    <div
      style="visibility: hidden; position: fixed"
      [style.left]="contextMenuPosition.x"
      [style.top]="contextMenuPosition.y"
      [matMenuTriggerFor]="contextMenu"
      (menuClosed)="setSelectedId()"
    >
      <mat-menu #contextMenu="matMenu" [hasBackdrop]="true"  >
        <ng-template matMenuContent  >
          <button class="menu-item" mat-menu-item [matMenuTriggerFor]="addChild" >
            Add Child
          </button>
          <button *ngIf="layers.level != 0" class="menu-item"  mat-menu-item [matMenuTriggerFor]="addNeighbour">
            Add Neighbour
          </button>
          <button *ngIf="layers.level != 0&&!subLayoutMode" class="menu-item"  mat-menu-item  (click)="editAlone()">
            Edit Alone
          </button>
          <button *ngIf="layers.level != 0" class="menu-item"  mat-menu-item (click)="deleteNode()">Delete</button>
          <button *ngIf="!isFormWrapper && !layers?.nodeData.isFormWrapper" class="menu-item"  mat-menu-item (click)="addForm()">Add Form</button>
          <button *ngIf="isFormWrapper && !itHasContent" class="menu-item"  mat-menu-item (click)="addInput()">Add Input</button>
          <button  class="menu-item"  mat-menu-item (click)="addText()">Add Text</button>
          <button  class="menu-item"  mat-menu-item (click)="addButton()">Add Button</button>



          <mat-menu #addChild="matMenu">
            <button class="menu-item"  mat-menu-item (click)="addNode('row', 'child')">
              row
            </button>
            <button class="menu-item"  mat-menu-item (click)="addNode('col', 'child')">
              column
            </button>
          </mat-menu>
          <mat-menu #addNeighbour="matMenu">
            <button class="menu-item"  mat-menu-item (click)="addNode('row', 'neighbour')">
              row
            </button>
            <button class="menu-item"  mat-menu-item (click)="addNode('col', 'neighbour')">
              column
            </button>
          </mat-menu>
        </ng-template>
      </mat-menu>
    </div>
  </div>
</div>

