div {
  font-family: inherit;
  background-color: black;
  color: white;
}

@keyframes ring-animation {
  0% {
    transform: rotate(0deg);
    box-shadow: #e1560b 0 2px 6px 1px;
  }

  50% {
    transform: rotate(180deg);
    box-shadow: #ace10b 0 2px 6px 1px;
  }

  100% {
    transform: rotate(360deg);
    box-shadow: #e1560b 0 2px 6px 1px;
  }
}

@keyframes span-animation {
  0% {
    color: rgba(255, 255, 255, 0.5);
  }
  10% {
    color: rgba(255, 255, 255, 0.4);
  }
  20% {
    color: rgba(255, 255, 255, 0.3);
  }
  30% {
    color: rgba(255, 255, 255, 0.2);
  }
  40% {
    color: rgba(255, 255, 255, 0.1);
  }
  50% {
    color: rgba(255, 255, 255, 0);
  }
  60% {
    color: rgba(255, 255, 255, 0.1);
  }
  70% {
    color: rgba(255, 255, 255, 0.2);
  }
  80% {
    color: rgba(255, 255, 255, 0.3);
  }
  90% {
    color: rgba(255, 255, 255, 0.4);
  }
  100% {
    color: rgba(255, 255, 255, 0.5);
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50vh 50vw;
}

.ring {
  position: absolute;
  box-shadow: #ffffff 0 2px 6px 1px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  animation: ring-animation 3s linear infinite;
  padding: 5rem;
}

span {
  z-index: 3;
  text-transform: uppercase;
  animation: span-animation 2s infinite;
}
